<template>
  <div class="">
    <NuxtLink class="w-full h-full bg-color-blue" to="/mainpage">
      <div class="absolute rounded-full w-40 h-40 flex items-center justify-center bg-red-600 -ml-9 -mt-9" />
      <div class="absolute text-third tracking-2.25px text-75px leading-90px ml-110px mt-280px">Test Mobile Index ALL</div>
    </NuxtLink>
  </div>
</template>

<script>
export default {
  components:{
  },
  data() {
    return {
    }
  }
}
</script>